---

---

<div class="relative z-30" x-show="isInfoDrawerOpen">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity">
    </div>
    <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden">
            <div
                class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16"
            >
                <div
                    class="pointer-events-auto w-screen max-w-2xl"
                    @click.outside="isInfoDrawerOpen = false"
                >
                    <slot />
                </div>
            </div>
        </div>
    </div>
</div>
