---
import { Icon } from "astro-icon/components";

import UserMenu from "@components/layout/baseLayout/UserMenu.astro";

const { title = "UManizales" } = Astro.props;
---

<div
    class="sticky top-0 z-10 flex h-16 shrink-0 items-center gap-x-4 border-b border-gray-200 bg-white px-4 shadow-sm sm:gap-x-6 sm:px-6 lg:px-8"
>
    <button
        class="-m-2.5 p-2.5 text-gray-700 lg:hidden"
        type="button"
        @click="isSidebarMenuOpen = ! isSidebarMenuOpen"
    >
        <Icon class="h-6 w-6" name="shared/menu" />
    </button>
    <div class="h-6 w-px bg-gray-900/10 lg:hidden"></div>
    <div class="flex flex-1 gap-x-4 justify-between lg:gap-x-6">
        <div class="flex items-center gap-x-4 font-semibold text-xl">
            {title}
        </div>
        <div class="flex items-center gap-x-4 lg:gap-x-6">
            <a
                class="-m-2.5 p-2.5 text-gray-400 hover:text-gray-500"
                href="notification"
            >
                <Icon name="shared/notification" size={20} />
            </a>
            <div class="h-6 w-px bg-gray-900/10"></div>
            <UserMenu />
        </div>
    </div>
</div>
