---
import Input from "@components/shared/forms/Input.astro";
import Select from "@components/shared/forms/Select.astro";
import TextArea from "@components/shared/forms/TextArea.astro";
import { YES_NO_OPTIONS } from "@constants/shared";
import { handleFind } from "@resources/index";

const { endpoint } = Astro.props;

const response = await handleFind(
    `${import.meta.env.API_URL}/internationalization-management/badge/template-type`,
);
const template_type = response?.status === 200 ? response?.data : null;
---

<div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <Input
        attributes={{
            id: "u-name",
            label: "Nombre",
            name: "name",
            required: "",
            type: "text",
            "x-model": "name",
        }}
    />
    <TextArea
        attributes={{
            id: "u-description",
            label: "Descripción",
            name: "description",
            "x-model": "description",
        }}
    />
    {
        template_type ? (
            <Select
                attributes={{
                    id: "u-template_type",
                    label: "Tipo de plantilla",
                    name: "template_type",
                    options: template_type,
                    required: "",
                    "x-model": "template_type",
                }}
            />
        ) : (
            ""
        )
    }
    <Input
        attributes={{
            accept: ".jpeg,.jpg,.png",
            id: "u-image",
            label: "Imagen (.JPEG, .JPG o .PNG de 500x500px hasta 1Mb)",
            name: "image",
            type: "file",
        }}
    />
    <Select
        attributes={{
            id: "u-status",
            label: "Estado",
            name: "status",
            options: YES_NO_OPTIONS,
            "x-model": "status",
        }}
    />
</div>
