---
import { Icon } from "astro-icon/components";

import MenuOption from "./MenuOption.astro";

const {name, options} = Astro.props;
---

<li x-data="{expanded: false}">
    <div>
        <button
            class="flex w-full items-center gap-x-3 rounded-md p-2 text-left text-sm font-semibold leading-6 text-amber-50 hover:bg-emerald-950"
            transition:persist
            type="button"
            :class="expanded ? 'bg-emerald-950' : ''"
            @click="expanded = ! expanded"
        >
            <Icon name="shared/chevron-down" size={20} x-show="!expanded" />
            <Icon name="shared/chevron-up" size={20} x-show="expanded" />
            {name}
        </button>
        <ul class="mt-1 pl-2" transition:persist x-show="expanded">
            {
                options
                    ? options.map((option) => (
                          <MenuOption
                              option={option}
                          />
                      ))
                    : null
            }
        </ul>
    </div>
</li>
